{{- if .Values.operator.rbac.create -}}
{{- $commonLabels := include "humio.labels" . }}
{{- if .Values.operator.rbac.createClusterRoles -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: '{{ default "default" .Release.Namespace }}-{{ .Release.Name }}'
  labels:
    {{- $commonLabels | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - pods/exec
  - services
  - services/finalizers
  - endpoints
  - persistentvolumeclaims
  - persistentvolumes
  - events
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - replicasets
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - humio-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.humio.com
  resources:
  - humioclusters
  - humioclusters/finalizers
  - humioclusters/status
  - humiobootstraptokens
  - humiobootstraptokens/finalizers
  - humiobootstraptokens/status
  - humioparsers
  - humioparsers/finalizers
  - humioparsers/status
  - humioingesttokens
  - humioingesttokens/finalizers
  - humioingesttokens/status
  - humiorepositories
  - humiorepositories/finalizers
  - humiorepositories/status
  - humioviews
  - humioviews/finalizers
  - humioviews/status
  - humioexternalclusters
  - humioexternalclusters/finalizers
  - humioexternalclusters/status
  - humioactions
  - humioactions/finalizers
  - humioactions/status
  - humioalerts
  - humioalerts/finalizers
  - humioalerts/status
  - humioeventforwarders
  - humioeventforwarders/finalizers
  - humioeventforwarders/status
  - humioeventforwardingrules
  - humioeventforwardingrules/finalizers
  - humioeventforwardingrules/status
  - humiofeatureflags
  - humiofeatureflags/finalizers
  - humiofeatureflags/status
  - humiofilteralerts
  - humiofilteralerts/finalizers
  - humiofilteralerts/status
  - humiogroups
  - humiogroups/finalizers
  - humiogroups/status
  - humiousers
  - humiousers/finalizers
  - humiousers/status
  - humioaggregatealerts
  - humioaggregatealerts/finalizers
  - humioaggregatealerts/status
  - humioscheduledsearches
  - humioscheduledsearches/finalizers
  - humioscheduledsearches/status
  - humiosavedqueries
  - humiosavedqueries/finalizers
  - humiosavedqueries/status
  - humiosystempermissionroles
  - humiosystempermissionroles/finalizers
  - humiosystempermissionroles/status
  - humioorganizationpermissionroles
  - humioorganizationpermissionroles/finalizers
  - humioorganizationpermissionroles/status
  - humioviewpermissionroles
  - humioviewpermissionroles/finalizers
  - humioviewpermissionroles/status
  - humiomulticlustersearchviews
  - humiomulticlustersearchviews/finalizers
  - humiomulticlustersearchviews/status
  - humioipfilters
  - humioipfilters/finalizers
  - humioipfilters/status
  - humioviewtokens
  - humioviewtokens/finalizers
  - humioviewtokens/status
  - humiosystemtokens
  - humiosystemtokens/finalizers
  - humiosystemtokens/status
  - humioorganizationtokens
  - humioorganizationtokens/finalizers
  - humioorganizationtokens/status
  - humiopdfrenderservices
  - humiopdfrenderservices/finalizers
  - humiopdfrenderservices/status
  - humiotelemetrycollections
  - humiotelemetrycollections/finalizers
  - humiotelemetrycollections/status
  - humiotelemetryexports
  - humiotelemetryexports/finalizers
  - humiotelemetryexports/status
  - humiopackageregistries
  - humiopackageregistries/finalizers
  - humiopackageregistries/status
  - humiopackages
  - humiopackages/finalizers
  - humiopackages/status
  - humiosavedqueries
  - humiosavedqueries/finalizers
  - humiosavedqueries/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- if .Values.operator.rbac.allowManageRoles }}
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- end }}
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- if .Values.certmanager }}
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  - issuers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- end }}
{{- if .Values.operator.rbac.allowManageClusterRoles }}
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  - clusterrolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- end }}
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: '{{ default "default" .Release.Namespace }}-{{ .Release.Name }}'
  labels:
    {{- $commonLabels | nindent 4 }}
subjects:
- kind: ServiceAccount
  name: '{{ .Release.Name }}'
  namespace: '{{ default "default" .Release.Namespace }}'
roleRef:
  kind: ClusterRole
  name: '{{ default "default" .Release.Namespace }}-{{ .Release.Name }}'
  apiGroup: rbac.authorization.k8s.io
{{- end }}
{{- end }}
