---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.0
  name: humiorepositories.core.humio.com
  labels:
    app: 'humio-operator'
    app.kubernetes.io/name: 'humio-operator'
    app.kubernetes.io/instance: 'humio-operator'
    app.kubernetes.io/managed-by: 'Helm'
    helm.sh/chart: 'humio-operator-0.29.0'
spec:
  group: core.humio.com
  names:
    kind: HumioRepository
    listKind: HumioRepositoryList
    plural: humiorepositories
    singular: humiorepository
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The state of the repository
      jsonPath: .status.state
      name: State
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: HumioRepository is the Schema for the humiorepositories API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: HumioRepositorySpec defines the desired state of HumioRepository.
            properties:
              allowDataDeletion:
                description: |-
                  AllowDataDeletion is used as a blocker in case an operation of the operator would delete data within the
                  repository. This must be set to true before the operator will apply retention settings that will (or might)
                  cause data to be deleted within the repository.
                type: boolean
              automaticSearch:
                description: AutomaticSearch is used to specify the start search automatically
                  on loading the search page option.
                type: boolean
              description:
                description: Description contains the description that will be set
                  on the repository
                type: string
              externalClusterName:
                description: |-
                  ExternalClusterName refers to an object of type HumioExternalCluster where the Humio resources should be created.
                  This conflicts with ManagedClusterName.
                minLength: 1
                type: string
              managedClusterName:
                description: |-
                  ManagedClusterName refers to an object of type HumioCluster that is managed by the operator where the Humio
                  resources should be created.
                  This conflicts with ExternalClusterName.
                minLength: 1
                type: string
              name:
                description: Name is the name of the repository inside Humio
                minLength: 1
                type: string
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
              retention:
                description: Retention defines the retention settings for the repository
                properties:
                  ingestSizeInGB:
                    description: |-
                      IngestSizeInGB sets the retention size in gigabytes measured at the time of ingest, so that would be the
                      uncompressed size of the data.
                      perhaps we should migrate to resource.Quantity? the Humio API needs float64, but that is not supported here, see more here:
                      https://github.com/kubernetes-sigs/controller-tools/issues/245
                    format: int32
                    minimum: 0
                    type: integer
                  storageSizeInGB:
                    description: |-
                      StorageSizeInGB sets the retention size in gigabytes measured as disk usage. In order words, this is the
                      compressed size.
                    format: int32
                    minimum: 0
                    type: integer
                  timeInDays:
                    description: TimeInDays sets the data retention measured in days.
                    format: int32
                    minimum: 1
                    type: integer
                type: object
            required:
            - name
            type: object
            x-kubernetes-validations:
            - message: Must specify exactly one of managedClusterName or externalClusterName
              rule: (has(self.managedClusterName) && self.managedClusterName != "")
                != (has(self.externalClusterName) && self.externalClusterName != "")
          status:
            description: HumioRepositoryStatus defines the observed state of HumioRepository.
            properties:
              state:
                description: State reflects the current state of the HumioRepository
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
