---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - endpoints
  - events
  - persistentvolumeclaims
  - pods
  - secrets
  - serviceaccounts
  - services
  - services/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.humio.com
  resources:
  - humioactions
  - humioaggregatealerts
  - humioalerts
  - humiobootstraptokens
  - humioclusters
  - humioexternalclusters
  - humiofilteralerts
  - humioingesttokens
  - humioparsers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.humio.com
  resources:
  - humioparsers/finalizers
  verbs:
  - update
- apiGroups:
  - core.humio.com
  resources:
  - humioparsers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - core.humio.com
  resources:
  - humiopdfrenderservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.humio.com
  resources:
  - humiopdfrenderservices/finalizers
  verbs:
  - update
- apiGroups:
  - core.humio.com
  resources:
  - humiopdfrenderservices/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - core.humio.com
  resources:
  - humiorepositories
  - humioscheduledsearches
  - humioviews
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.humio.com
  resources:
  - humioactions/finalizers
  - humioaggregatealerts/finalizers
  - humioalerts/finalizers
  - humiobootstraptokens/finalizers
  - humioclusters/finalizers
  - humioexternalclusters/finalizers
  - humiofilteralerts/finalizers
  - humioingesttokens/finalizers
  - humioparsers/finalizers
  - humiorepositories/finalizers
  - humioscheduledsearches/finalizers
  - humioviews/finalizers
  verbs:
  - update
- apiGroups:
  - core.humio.com
  resources:
  - humioactions/status
  - humioaggregatealerts/status
  - humioalerts/status
  - humiobootstraptokens/status
  - humioclusters/status
  - humioexternalclusters/status
  - humiofilteralerts/status
  - humioingesttokens/status
  - humioparsers/status
  - humiorepositories/status
  - humioscheduledsearches/status
  - humioviews/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingress
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
