operator:
  image:
    repository: humio/humio-operator
    tag: 0.11.0
    pullPolicy: IfNotPresent
    pullSecrets: []
  prometheus:
    serviceMonitor:
      enabled: false
  rbac:
    create: true
    allowManageRoles: true
    allowManageClusterRoles: true
  resources:
    limits:
      cpu: 250m
      memory: 200Mi
    requests:
      cpu: 250m
      memory: 200Mi
  watchNamespaces: []
installCRDs: false
openshift: false
certmanager: true
