operator:
  image:
    repository: humio/humio-operator
    # default for tag is the appVersion set in Chart.yaml
    tag: 0.28.2
    pullPolicy: Always
    pullSecrets: []
  metrics:
    enabled: true
    listen:
      port: 8080
    secure: false
  prometheus:
    serviceMonitor:
      enabled: false
  rbac:
    create: true
    allowManageRoles: true
    allowManageClusterRoles: true
  resources:
    limits:
      cpu: 250m
      memory: 200Mi
    requests:
      cpu: 250m
      memory: 200Mi
  podAnnotations: {}

  nodeSelector: {}

  tolerations: []

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/arch
            operator: In
            values:
              - amd64
          - key: kubernetes.io/os
            operator: In
            values:
            - linux

certmanager: true
defaultHumioCoreImage: ""
defaultHumioHelperImage: ""