operator:
  image:
    repository: humio/humio-operator
    tag: 0.26.1
    pullPolicy: IfNotPresent
    pullSecrets: []
  prometheus:
    serviceMonitor:
      enabled: false
  rbac:
    create: true
    allowManageRoles: true
    allowManageClusterRoles: true
  resources:
    limits:
      cpu: 250m
      memory: 200Mi
    requests:
      cpu: 250m
      memory: 200Mi
  watchNamespaces: []
  podAnnotations: {}

  nodeSelector: {}

  tolerations: []

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/arch
            operator: In
            values:
            - amd64
          - key: kubernetes.io/os
            operator: In
            values:
            - linux

certmanager: true
defaultHumioCoreImage: ""
defaultHumioHelperImage: ""
