{{- if .Values.operator.rbac.create -}}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: '{{ .Release.Name }}'
  namespace: '{{ default "default" .Release.Namespace }}'
  labels:
    app: '{{ .Chart.Name }}'
    app.kubernetes.io/name: '{{ .Chart.Name }}'
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    helm.sh/chart: '{{ template "humio.chart" . }}'

{{- range .Values.operator.watchNamespaces }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: '{{ $.Release.Name }}'
  namespace: '{{ . }}'
  labels:
    app: '{{ $.Chart.Name }}'
    app.kubernetes.io/name: '{{ $.Chart.Name }}'
    app.kubernetes.io/instance: '{{ $.Release.Name }}'
    app.kubernetes.io/managed-by: '{{ $.Release.Service }}'
    helm.sh/chart: '{{ template "humio.chart" $ }}'
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - services/finalizers
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - replicasets
  - deployments
  verbs:
  - get
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - humio-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - core.humio.com
  resources:
  - humioclusters
  - humioclusters/finalizers
  - humioclusters/status
  - humioparsers
  - humioparsers/finalizers
  - humioparsers/status
  - humioingesttokens
  - humioingesttokens/finalizers
  - humioingesttokens/status
  - humiorepositories
  - humiorepositories/finalizers
  - humiorepositories/status
  - humioviews
  - humioviews/finalizers
  - humioviews/status
  - humioexternalclusters
  - humioexternalclusters/finalizers
  - humioexternalclusters/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- if $.Values.operator.rbac.allowManageRoles }}
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- end }}
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- if $.Values.certmanager }}
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  - issuers
verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- end }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: '{{ $.Release.Name }}'
  namespace: '{{ . }}'
  labels:
    app: '{{ $.Chart.Name }}'
    app.kubernetes.io/name: '{{ $.Chart.Name }}'
    app.kubernetes.io/instance: '{{ $.Release.Name }}'
    app.kubernetes.io/managed-by: '{{ $.Release.Service }}'
    helm.sh/chart: '{{ template "humio.chart" $ }}'
subjects:
- kind: ServiceAccount
  name: '{{ $.Release.Name }}'
  namespace: '{{ default "default" $.Release.Namespace }}'
roleRef:
  kind: Role
  name: '{{ $.Release.Name }}'
  apiGroup: rbac.authorization.k8s.io

{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: '{{ default "default" .Release.Namespace }}-{{ .Release.Name }}'
  labels:
    app: '{{ .Chart.Name }}'
    app.kubernetes.io/name: '{{ .Chart.Name }}'
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    helm.sh/chart: '{{ template "humio.chart" . }}'
rules:
{{- if not .Values.operator.watchNamespaces }}
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - services/finalizers
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - replicasets
  - deployments
  verbs:
  - get
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - humio-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - core.humio.com
  resources:
  - humioclusters
  - humioclusters/finalizers
  - humioclusters/status
  - humioparsers
  - humioparsers/finalizers
  - humioparsers/status
  - humioingesttokens
  - humioingesttokens/finalizers
  - humioingesttokens/status
  - humiorepositories
  - humiorepositories/finalizers
  - humiorepositories/status
  - humioviews
  - humioviews/finalizers
  - humioviews/status
  - humioexternalclusters
  - humioexternalclusters/finalizers
  - humioexternalclusters/status
  - humioactions
  - humioactions/finalizers
  - humioactions/status
  - humioalerts
  - humioalerts/finalizers
  - humioalerts/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- if .Values.operator.rbac.allowManageRoles }}
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- end }}
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- if .Values.certmanager }}
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  - issuers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
  {{- end }}
{{- end }}
{{- if .Values.operator.rbac.allowManageClusterRoles }}
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  - clusterrolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- end }}
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
{{- if .Values.openshift }}
- apiGroups:
  - security.openshift.io
  resourceNames:
  - '{{ default "default" .Release.Namespace }}-{{ .Release.Name }}'
  resources:
  - securitycontextconstraints
  verbs:
  - use
  - update
- apiGroups:
  - security.openshift.io
  resources:
  - securitycontextconstraints
  verbs:
  - get
  - list
  - watch
{{- end }}

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: '{{ default "default" .Release.Namespace }}-{{ .Release.Name }}'
  labels:
    app: '{{ .Chart.Name }}'
    app.kubernetes.io/name: '{{ .Chart.Name }}'
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    helm.sh/chart: '{{ template "humio.chart" . }}'
subjects:
- kind: ServiceAccount
  name: '{{ .Release.Name }}'
  namespace: '{{ default "default" .Release.Namespace }}'
roleRef:
  kind: ClusterRole
  name: '{{ default "default" .Release.Namespace }}-{{ .Release.Name }}'
  apiGroup: rbac.authorization.k8s.io

{{- if .Values.openshift }}
---
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: '{{ default "default" .Release.Namespace }}-{{ .Release.Name }}'
  labels:
    app: '{{ .Chart.Name }}'
    app.kubernetes.io/name: '{{ .Chart.Name }}'
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    helm.sh/chart: '{{ template "humio.chart" . }}'
allowPrivilegedContainer: true
allowHostDirVolumePlugin: true
allowHostIPC: false
allowHostNetwork: false
allowHostPID: false
allowHostPorts: false
priority: 0
allowedCapabilities:
- NET_BIND_SERVICE
- SYS_NICE
readOnlyRootFilesystem: false
requiredDropCapabilities:
- KILL
- MKNOD
- SETUID
- SETGID
defaultAddCapabilities: []
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: MustRunAs
fsGroup:
  type: RunAsAny
supplementalGroups:
  type: RunAsAny
volumes:
- configMap
- downwardAPI
- emptyDir
- hostPath
- persistentVolumeClaim
- projected
- secret
users: []
{{- end }}

{{- end }}
