{{- if .Values.operator.rbac.create -}}
{{- $commonLabels := include "humio.labels" . }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: '{{ .Release.Name }}'
  namespace: '{{ default "default" .Release.Namespace }}'
  labels:
    {{- $commonLabels | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: '{{ default "default" .Release.Namespace }}-{{ .Release.Name }}'
  labels:
    {{- $commonLabels | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - pods/exec
  - services
  - services/finalizers
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - replicasets
  - deployments
  verbs:
  - get
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - humio-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - core.humio.com
  resources:
  - humioclusters
  - humioclusters/finalizers
  - humioclusters/status
  - humiobootstraptokens
  - humiobootstraptokens/finalizers
  - humiobootstraptokens/status
  - humioparsers
  - humioparsers/finalizers
  - humioparsers/status
  - humioingesttokens
  - humioingesttokens/finalizers
  - humioingesttokens/status
  - humiorepositories
  - humiorepositories/finalizers
  - humiorepositories/status
  - humioviews
  - humioviews/finalizers
  - humioviews/status
  - humioexternalclusters
  - humioexternalclusters/finalizers
  - humioexternalclusters/status
  - humioactions
  - humioactions/finalizers
  - humioactions/status
  - humioalerts
  - humioalerts/finalizers
  - humioalerts/status
  - humiofilteralerts
  - humiofilteralerts/finalizers
  - humiofilteralerts/status
  - humioaggregatealerts
  - humioaggregatealerts/finalizers
  - humioaggregatealerts/status
  - humioscheduledsearches
  - humioscheduledsearches/finalizers
  - humioscheduledsearches/status
  - humiopdfrenderservices
  - humiopdfrenderservices/finalizers
  - humiopdfrenderservices/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- if .Values.operator.rbac.allowManageRoles }}
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- end }}
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- if .Values.certmanager }}
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  - issuers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- end }}
{{- if .Values.operator.rbac.allowManageClusterRoles }}
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  - clusterrolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- end }}
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: '{{ default "default" .Release.Namespace }}-{{ .Release.Name }}'
  labels:
    {{- $commonLabels | nindent 4 }}
subjects:
- kind: ServiceAccount
  name: '{{ .Release.Name }}'
  namespace: '{{ default "default" .Release.Namespace }}'
roleRef:
  kind: ClusterRole
  name: '{{ default "default" .Release.Namespace }}-{{ .Release.Name }}'
  apiGroup: rbac.authorization.k8s.io
{{- end }}
