apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  annotations:
    productID: "none"
    productName: "humio-operator"
    productVersion: "{{ .Values.operator.image.tag | default .Chart.AppVersion }}"
  labels:
    {{- include "humio.labels" . | nindent 4 }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: '{{ .Chart.Name }}'
      app.kubernetes.io/name: '{{ .Chart.Name }}'
      app.kubernetes.io/instance: '{{ .Release.Name }}'
  template:
    metadata:
      annotations:
        productID: "none"
        productName: "humio-operator"
        productVersion: "{{ .Values.operator.image.tag | default .Chart.AppVersion }}"
{{- if .Values.operator.podAnnotations }}
        {{- toYaml .Values.operator.podAnnotations | nindent 8 }}
{{- end }}
      labels:
        {{- include "humio.labels" . | nindent 8 }}
    spec:
{{- with .Values.operator.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
{{- end }}
{{- with .Values.operator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
{{- end }}
{{- with .Values.operator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
{{- end }}
{{- with .Values.operator.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
{{- end }}
      serviceAccountName: {{ .Release.Name }}
      containers:
      - name: humio-operator
        image: "{{ .Values.operator.image.repository }}:{{ .Values.operator.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
        command:
        - /manager
{{- if .Values.operator.metrics.enabled }}
        - --metrics-bind-address=:{{ .Values.operator.metrics.listen.port }}
        - --metrics-secure={{ .Values.operator.metrics.secure }}
{{- end }}
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: "humio-operator"
        - name: USE_CERTMANAGER
          value: {{ .Values.certmanager | quote }}
        - name: HUMIO_OPERATOR_DEFAULT_HUMIO_CORE_IMAGE
          value: {{ .Values.defaultHumioCoreImage | quote }}
        - name: HUMIO_OPERATOR_DEFAULT_HUMIO_HELPER_IMAGE
          value: {{ .Values.defaultHumioHelperImage | quote }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
{{- with .Values.operator.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
{{- end }}
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 65534
          capabilities:
            drop:
            - ALL

{{- if .Values.pdfRenderService.enabled }}
---
apiVersion: core.humio.com/v1alpha1
kind: HumioPdfRenderService
metadata:
  labels:
    app.kubernetes.io/name: humiopdfrenderservice
    app.kubernetes.io/instance: {{ .Release.Name }}-humiopdfrenderservice
    app.kubernetes.io/part-of: humio-operator
    app.kubernetes.io/managed-by: helm
    app.kubernetes.io/created-by: humio-operator
  name: {{ .Release.Name }}-humiopdfrenderservice
spec:
  enabled: {{ .Values.pdfRenderService.enabled }}
  image: "{{ .Values.pdfRenderService.image.repository }}:{{ .Values.pdfRenderService.image.tag }}"
  replicas: 1
{{- end }}