apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-webhook"
  namespace: {{ .Release.Namespace }}
  annotations:
    productID: "none"
    productName: "humio-operator"
    productVersion: "{{ .Values.operator.image.tag | default .Chart.AppVersion }}"
  labels:
    {{- include "humio.webhookLabels" . | nindent 4 }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "humio.webhookLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        productID: "none"
        productName: "humio-operator"
        productVersion: "{{ .Values.operator.image.tag | default .Chart.AppVersion }}"
{{- if .Values.webhook.podAnnotations }}
        {{- toYaml .Values.webhook.podAnnotations | nindent 8 }}
{{- end }}
      labels:
        {{- include "humio.webhookLabels" . | nindent 8 }}
    spec:
{{- with .Values.operator.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
{{- end }}
{{- with .Values.operator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
{{- end }}
{{- with .Values.operator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
{{- end }}
{{- with .Values.operator.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
{{- end }}
      serviceAccountName: {{ .Release.Name }}
      containers:
      - name: humio-operator-webhook
        image: "{{ .Values.operator.image.repository }}-webhook:{{ .Values.operator.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
        command:
        - /webhook-operator
{{- if .Values.operator.metrics.enabled }}
        - --metrics-bind-address=:{{ .Values.operator.metrics.listen.port }}
        - --metrics-secure={{ .Values.operator.metrics.secure }}
{{- end }}
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: "humio-operator"
        - name: USE_CERTMANAGER
          value: {{ .Values.certmanager | quote }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
{{- with .Values.webhook.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
{{- end }}
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 65534
          capabilities:
            drop:
            - ALL
        volumeMounts:
        - name: tmp-tls
          mountPath: /tmp/k8s-webhook-server/serving-certs
      volumes:
      - name: tmp-tls
        emptyDir:
          medium: Memory
          sizeLimit: 10Mi

