---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.0
  name: humiomulticlustersearchviews.core.humio.com
  labels:
    app: 'humio-operator'
    app.kubernetes.io/name: 'humio-operator'
    app.kubernetes.io/instance: 'humio-operator'
    app.kubernetes.io/managed-by: 'Helm'
    helm.sh/chart: 'humio-operator-0.33.0'
spec:
  group: core.humio.com
  names:
    kind: HumioMultiClusterSearchView
    listKind: HumioMultiClusterSearchViewList
    plural: humiomulticlustersearchviews
    singular: humiomulticlustersearchview
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: HumioMultiClusterSearchView is the Schema for the humiomulticlustersearchviews
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: HumioMultiClusterSearchViewSpec defines the desired state
              of HumioMultiClusterSearchView.
            properties:
              automaticSearch:
                description: AutomaticSearch is used to specify the start search automatically
                  on loading the search page option.
                type: boolean
              connections:
                description: Connections contains the connections to the Humio repositories
                  which is accessible in this view
                items:
                  description: HumioMultiClusterSearchViewConnection represents a
                    connection to a specific repository with an optional filter
                  properties:
                    apiTokenSource:
                      description: |-
                        APITokenSource specifies where to fetch the LogScale API token to use for the remote connection.
                        Only used when Type=Remote.
                      properties:
                        secretKeyRef:
                          description: SecretKeyRef specifies which key of a secret
                            in the namespace of the HumioMultiClusterSearchView that
                            holds the LogScale API token
                          properties:
                            key:
                              description: The key of the secret to select from.  Must
                                be a valid secret key.
                              type: string
                            name:
                              default: ""
                              description: |-
                                Name of the referent.
                                This field is effectively required, but due to backwards compatibility is
                                allowed to be empty. Instances of this type with an empty value here are
                                almost certainly wrong.
                                More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                              type: string
                            optional:
                              description: Specify whether the Secret or its key must
                                be defined
                              type: boolean
                          required:
                          - key
                          type: object
                          x-kubernetes-map-type: atomic
                          x-kubernetes-validations:
                          - message: SecretKeyRef must have both name and key fields
                              set
                            rule: self != null && has(self.name) && self.name != ""
                              && has(self.key) && self.key != ""
                      required:
                      - secretKeyRef
                      type: object
                    clusterIdentity:
                      description: ClusterIdentity is a required field that gets used
                        as an identifier for the connection.
                      maxLength: 50
                      minLength: 1
                      type: string
                    filter:
                      description: Filter contains the prefix filter that will be
                        applied to the connection.
                      maxLength: 200
                      type: string
                    tags:
                      description: Tags contains the key-value pair tags that will
                        be applied to the connection.
                      items:
                        description: HumioMultiClusterSearchViewConnectionTag represents
                          a tag that will be applied to a connection.
                        properties:
                          key:
                            description: Key specifies the key of the tag
                            maxLength: 50
                            minLength: 1
                            type: string
                            x-kubernetes-validations:
                            - message: The key 'clusteridentity' is reserved and cannot
                                be used
                              rule: self != 'clusteridentity'
                          value:
                            description: Value specifies the value of the tag
                            maxLength: 50
                            minLength: 1
                            type: string
                        required:
                        - key
                        - value
                        type: object
                      maxItems: 24
                      type: array
                      x-kubernetes-list-map-keys:
                      - key
                      x-kubernetes-list-type: map
                      x-kubernetes-validations:
                      - message: All tags must have unique keys
                        rule: size(self.map(c, c.key)) == size(self)
                    type:
                      description: |-
                        Type specifies the type of connection.
                        If Type=Local, the connection will be to a local repository or view and requires the viewOrRepoName field to be set.
                        If Type=Remote, the connection will be to a remote repository or view and requires the fields remoteUrl and remoteSecretName to be set.
                      enum:
                      - Local
                      - Remote
                      type: string
                      x-kubernetes-validations:
                      - message: Value is immutable
                        rule: self == oldSelf
                    url:
                      description: |-
                        Url contains the URL to use for the remote connection.
                        Only used when Type=Remote.
                      maxLength: 100
                      minLength: 8
                      type: string
                    viewOrRepoName:
                      description: |-
                        ViewOrRepoName contains the name of the repository or view for the local connection.
                        Only used when Type=Local.
                      maxLength: 100
                      minLength: 1
                      type: string
                  required:
                  - clusterIdentity
                  - type
                  type: object
                  x-kubernetes-validations:
                  - message: When type is Local, viewOrRepoName must be set and url/apiTokenSource
                      must not be set
                    rule: 'self.type == ''Local'' ? has(self.viewOrRepoName) && !has(self.url)
                      && !has(self.apiTokenSource) : true'
                  - message: When type is Remote, url/apiTokenSource must be set and
                      viewOrRepoName must not be set
                    rule: 'self.type == ''Remote'' ? has(self.url) && has(self.apiTokenSource)
                      && !has(self.viewOrRepoName) : true'
                maxItems: 50
                minItems: 1
                type: array
                x-kubernetes-list-map-keys:
                - clusterIdentity
                x-kubernetes-list-type: map
                x-kubernetes-validations:
                - message: Only one connection can have type 'Local'
                  rule: self.filter(c, c.type == 'Local').size() <= 1
                - message: All connections must have unique clusterIdentity values
                  rule: size(self.map(c, c.clusterIdentity)) == size(self)
              description:
                description: Description contains the description that will be set
                  on the view
                maxLength: 100
                type: string
              externalClusterName:
                description: |-
                  ExternalClusterName refers to an object of type HumioExternalCluster where the Humio resources should be created.
                  This conflicts with ManagedClusterName.
                maxLength: 63
                minLength: 1
                type: string
              managedClusterName:
                description: |-
                  ManagedClusterName refers to an object of type HumioCluster that is managed by the operator where the Humio
                  resources should be created.
                  This conflicts with ExternalClusterName.
                maxLength: 63
                minLength: 1
                type: string
              name:
                description: Name is the name of the view inside Humio
                maxLength: 100
                minLength: 1
                type: string
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
            required:
            - connections
            - name
            type: object
            x-kubernetes-validations:
            - message: Must specify exactly one of managedClusterName or externalClusterName
              rule: (has(self.managedClusterName) && self.managedClusterName != "")
                != (has(self.externalClusterName) && self.externalClusterName != "")
          status:
            description: HumioMultiClusterSearchViewStatus defines the observed state
              of HumioMultiClusterSearchView.
            properties:
              state:
                description: State reflects the current state of the HumioMultiClusterSearchView
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
