on: push
name: CI
jobs:
  checks:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cedrickring/golang-action@1.5.1
  olm-checks:
    name: Run OLM Checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: operator-sdk lint
      env:
        GO111MODULE: "on"
      uses: ./.github/action/operator-sdk
      with:
        args: operator-courier --verbose verify --ui_validate_io deploy/olm-catalog/humio-operator
  build:
    needs: checks
    name: Run Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: operator-sdk
      env:
        GO111MODULE: "on"
      uses: ./.github/action/operator-sdk
      with:
        args: operator-sdk build humio/humio-operator:${{ github.sha }}
    - name: helper image
      run: docker build -t humio/humio-operator-helper:${{ github.sha }} images/helper
